{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Password Reset</title>
{% endblock %}

{% block body %}
    <div class="content-section" style="background-image: url('/static/img/img 6.jpg')">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border_bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}